/* Create a style sheet for code.
 * Make it bold, and, inside headers, blue.
 */
CODE.normal { font-weight: bold }
CODE.var { font-weight: bold; font-style: italic }
H2 CODE { font-weight: bold; color: blue }
H3 CODE { font-weight: bold; color: blue }
H4 CODE { font-weight: bold; color: blue }
CODE { font-weight: bold }

SPAN.change { color:red; }
DIV.change { color:red; }
