/* Create a style sheet for code.
 * Make it bold, and, inside headers, blue.
 */
CODE.normal { font-weight: bold }
CODE.var { font-weight: bold; font-style: italic }
H2 CODE { font-weight: bold; color: blue }
H3 CODE { font-weight: bold; color: blue }
H4 CODE { font-weight: bold; color: blue }
CODE { font-weight: bold }
CODE.mangle { color: blue }

H3 { font-size: 1.4em; }
H4 { font-size: 1.34em; }
H5 { font-size: 1.05em; font-weight: bold }
H6 { font-size: 1em; font-weight: bold }

SPAN.future-abi { color:green; }
SPAN.cxxref { font-family: fixed }

SPAN.change { color:red; }
DIV.change { color:red; }

p.revision span.date { color:blue; }
